{% load static %}
<!DOCTYPE html>
  {% autoescape on %}
  <html>
    <head>
      {% block head %}
      <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}" >
      <link type="text/css" rel="stylesheet" href="/static/main.css" />
      <link rel="stylesheet" href="/static/jquery-ui-1.10.3.custom.css" />
      <script src="/static/javascript/jquery-1.9.1.js"></script>
      <script src="/static/javascript/jquery-ui-1.10.3.custom.min.js"></script>
      <script>
        $(function() {
          $( "#accordion" ).accordion({heightStyle: "content",
                                      active: "{{ menu_num }}"
                                      });
        });
        $(function() {
      $( "#tabs" ).tabs({
        ajaxOptions: {
          error: function( xhr, status, index, anchor ) {
            $( anchor.hash ).html(
              "Failed to load tab contents" );
          }
        }
      });
      });
      </script>
      <title>{% block title %}{% endblock %}</title>
      {% endblock %}
    </head>

    <body>
      <div id="header">
          {% if not user.is_authenticated %}
            <table align="right">
              <tr>
                <td><a class="loginurl" href="{% url 'login' %}">Log in</a></td>
                <td><a class="registerurl" href="{% url 'django_registration_register' %}">Sign up</a></td>
              </tr>
            </table>
          {% else %}
            <table align="left">
              <tr>
                <td><a class="username">Logged in as {{ user }}</a></td>
              </tr>
            </table>
            <table align="right">
              <tr>
                <td><a class="logouturl" href="{% url 'logout' %}">Log out</a></td>
              </tr>
            </table>
          {% endif %}
      </div>

      <div id="leftmenu">
        <a href="{% url 'home' %}"><img src="/static/images/EnFL.png" width="200"></img></a>
        <div id="accordion">
          {% if user.is_authenticated %}
              {% if main_menu %}
                {% for name, submenu in main_menu.items %}
                  <h3>{{ name }}</a></h3>
                  <ul>
                    {% for item, url in submenu.items %}
                      <li><a href="{{ url }}">{{ item }}</a></li>
                    {% endfor %}
                  </ul>
                {% endfor %}
              {% endif %}
          {% endif %}
          <h3>History</a></h3>
          <ul>
            <li><a href="{% url 'hall_of_fame' %}">Hall of Fame</a></li>
            <li><a href="{% url 'positions' %}">Positions</a></li>
          </ul>
          <h3>About</a></h3>
          <ul>
            <li><a href="{% url 'rules' %}">Rules</a></li>
          </ul>
        </div>
      </div>

      <div id="content"><div id="tabs" style="overflow:hidden;">
      <ul>
        {% block tabnames %}
          {% if tabs %}
            {# tabs is a dictionary of tab names and urls #}
            {% for tab in tabs.values %}
              <li><a href="{{ tab.url }}">{{ tab.name }}</a></li>
            {% endfor %}
          {% endif %}
        {% endblock %}
      </ul>

      {% block tabs %}
        <div id="tabs-1" class="fftab">
          {% block defaulttab %}{% endblock %}
        </div>
      {% endblock %}

      </div></div>

      <div id="footer">
        {% block footer %}
          <small>© 2014 by Jon Culver and 2023 by Rich Barton-Cooper</small>
        {% endblock %}
      </div>
    </body>
  </html>
{% endautoescape %}
