{% extends "base.html" %}

{% block title %}Hall of Fame{% endblock %}

{% block tabs %}
<br>
<div id="tabs-winners">
  <table class="gridtable">
    <tr><th>Season</th><th>Winner</th></tr>
    <tr><td>2021/22</td><td>Ross Denham</td></tr>
    <tr><td>2020/21</td><td>Mark Holmes</td></tr>
    <tr><td>2019/20</td><td>Ed Jones (unofficial due to Covid-19) </td></tr>
    <tr><td>2018/19</td><td>Ed Jones</td></tr>
    <tr><td>2017/18</td><td>Ross Denham</td></tr>
    <tr><td>2016/17</td><td>Jon Culver</td></tr>
    <tr><td>2015/16</td><td>Paul Gillard</td></tr>
    <tr><td>2014/15</td><td>Ed Jones</td></tr>
    <tr><td>2013/14</td><td>John Cooper</td></tr>
    <tr><td>2012/13</td><td>Jon Culver</td></tr>
    <tr><td>2011/12</td><td>John Cooper</td></tr>
    <tr><td>2010/11</td><td>John Cooper</td></tr>
    <tr><td>2009/10</td><td>John Cooper</td></tr>
    <tr><td>2008/9</td><td>Ross Denham</td></tr>
    <tr><td>2007/8</td><td>John Cooper</td></tr>
    <tr><td>2006/7</td><td>Simon Osborne</td></tr>
    <tr><td>2005/6</td><td>John Cooper</td></tr>
    <tr><td><i>Euro '04</i></td><td><i>Juliette White</i></td></tr>
    <tr><td>2004/5</td><td>Simon Osborne</td></tr>
    <tr><td>2003/4</td><td>Jon Culver</td></tr>
    <tr><td>2002/3</td><td>Tom Dalton</td></tr>
  </table>
</div>
<br>
<br>

{% endblock %}
