{% extends "base.html" %}

{% block title %}Positions{% endblock %}

{% block tabs %}
<div id="tabs-final-positions">
  <br>
  <table class="gridtable">
    <tr><th>Manager      </th><th>Av.</th><th>'22</th><th>'21</th><th>'20</th><th>'19</th><th>'18</th><th>'17</th><th>'16</th><th>'15</th><th>'14</th><th>'13</th><th>'12</th><th>'11</th><th>'09</th><th>'08</th></tr>
    <tr><td>Ed           </td><td>2.9 </td><td>2</td><td>3</td><td>1</td><td>1</td><td>5</td><td>7</td><td>2</td><td>1</td><td>4</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
    <tr><td>Jon C        </td><td>4 </td><td>6</td><td>7</td><td>2</td><td>4</td><td>2</td><td>1</td><td>5</td><td>6</td><td>5</td><td>1</td><td>3</td><td>2</td><td>5</td><td>7</td></tr>
    <tr><td>Mark         </td><td>4   </td><td>4</td><td>1</td><td>5</td><td>6</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
    <tr><td>Tom J        </td><td>4   </td><td>-</td><td>5</td><td>-</td><td>3</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
    <tr><td>Ross         </td><td>4.3 </td><td>1</td><td>6</td><td>3</td><td>7</td><td>1</td><td>2</td><td>7</td><td>9</td><td>7</td><td>6</td><td>2</td><td>6</td><td>1</td><td>2</td></tr>
    <tr><td>Rich         </td><td>4.5   </td><td>3</td><td>2</td><td>8</td><td>5</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
    <tr><td>Simon        </td><td>5.1 </td><td>5</td><td>8</td><td>6</td><td>9</td><td>4</td><td>4</td><td>4</td><td>3</td><td>6</td><td>5</td><td>5</td><td>5</td><td>2</td><td>5</td></tr>
    <tr><td>Peyman       </td><td>6.9 </td><td>7</td><td>9</td><td>7</td><td>8</td><td>6</td><td>-</td><td>8</td><td>4</td><td>8</td><td>8</td><td>4</td><td>7</td><td>8</td><td>6</td></tr>
    <tr><td><i>Areeg</i> </td><td>8   </td><td>8</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
    <tr><td><i>Tempy</i> </td><td>9   </td><td>9</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
    <tr><td><i>John</i>  </td><td>2.4 </td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>8</td><td>1</td><td>2</td><td>1</td><td>1</td><td>3</td><td>1</td></tr>
    <tr><td><i>Jonny</i> </td><td>3.8 </td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>3</td><td>3</td><td>5</td><td>3</td><td>2</td><td>6</td><td>4</td><td>4</td><td>-</td></tr>
    <tr><td><i>Paul</i>  </td><td>3.8 </td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>5</td><td>1</td><td>-</td><td>2</td><td>7</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
    <tr><td><i>Tom H</i> </td><td>3.9 </td><td>-</td><td>-</td><td>4</td><td>4</td><td>2</td><td>3</td><td>6</td><td>6</td><td>2</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
    <tr><td><i>Antony</i></td><td>5.4 </td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>7</td><td>9</td><td>4</td><td>7</td><td>2</td><td>6</td><td>3</td></tr>
    <tr><td><i>Robbie</i></td><td>7.0 </td><td>-</td><td>-</td><td>-</td><td>7</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
  </table>
</div>
<br>
<br>

{% endblock %}
